body {
  background-color: #B5FE83;
  font-family: "Rubik Bubbles", sans-serif;
}

h1 {
  font-size: clamp(5rem, 1vw, 7rem);
}

h2 {
  font-size: 4rem;
}

img {
  height: 80px;
  border-radius: 10vmax
}

.dice {
  background: #B22727;
  height: 300px;
  width: 300px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.one-player,
.one-dice {
  grid-column: 2;
}

.two-player,
.two-dice {
  grid-column: 4;
}

.one-dice,
.two-dice {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1;
  }

  .one-player,
  .two-player,
  .one-dice,
  .two-dice {
    grid-column: 2;
  }

  .two-dice {
    grid-row: 4;
  }
}
